<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="~/css/site.css" />
  <script src="~/lib/jquery-1.8.0.js"></script>
  <script src="~/lib/jquery.validate.js"></script>
  <script src="~/lib/jquery.validate.unobtrusive.js"></script>
</head>
<body>

  <div class="header">
    Header goes here
  </div>
  
  <div class="body-content">
    @RenderBody()
  </div>

  <div class="footer">
    Footer goes here
  </div>
</body>
</html>
